$theme-colors: (
        "primary": #355887,
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1420px
);

@import "~bootstrap/scss/bootstrap";
@import '~react-toastify/dist/ReactToastify.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~slick-carousel/slick/slick.scss';
@import '~rc-slider/assets/index.css';
@import '~rc-tooltip/assets/bootstrap.css';
@import '~react-image-gallery/styles/css/image-gallery.css';
@import '~react-multi-toggle/style.css';
@import '~ladda/css/ladda.scss';
@import '~react-table/react-table.css';

@import './components/Footer/Footer.css';
@import './components/NavBar/NavBar.css';
@import './components/NavBar/NavBarPreferredStores.css';
@import './components/NavBar/StoreCheckBox.css';

@import './react-utils/components/Product/ProductTechSpecs.css';

@import './components/Product/ProductDetail.scss';
@import './components/Product/ProductPicture.css';
@import './components/Product/ProductsReel.css';
@import './components/Product/ProductShortDescription.css';
@import './components/Product/ProductBenchmarks.css';

@import './components/Category/BurgerMenu.css';
@import './components/Category/CategoryBrowse.css';
@import './components/Category/CategoryBrowseResults.css';
@import './components/Category/CategoryBrowseResult.css';

@import './components/Budget/FrontPageBudgets.css';
@import './components/Budget/BudgetViewTable.css';
@import './components/Budget/BudgetEdit.css';


body {
  font-family: 'Roboto', sans-serif;
  color: gray("800");
  font-size: 14px;
  background-color: #f5f5f5;
}

#main-container {
  margin-top: 60px;
}

@include media-breakpoint-up(sm) {
  .nav-link {
    font-weight: bold;
  }
}

h1 {
  font-weight: 300;
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 15px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

.toast-container {
  top: 60px;
}

.content-card {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid #ddd;
}

.price-container {
  color: #ca0000;
}

.price-container:hover {
  color: #ca0000;
}

.padded-card-block {
  padding: 10px 15px;
}

.flex-grow {
  flex-grow: 1;
}

.rating-stars {
  height: 21px;
}

.rating-stars label {
  width: 17px;
  margin-bottom: 0;
  cursor: inherit !important;
}

.fa-star, .fa-star-half {
  color: #ffb700;
}

/* Ratings page */

.rating-container dt {
  float: left;
  margin-right: 0.5em;
}

.no-float {
  float: none !important;
}

#navbar-departments .nav-link {
  color: white;
}

/* Video Card Gpu Detail */

.video_card_gpu_specs dt {
    float: left;
    margin-right: 0.5em;
}

.video_card_gpu_specs h2 {
    margin-bottom: 20px;
}