.search-filters-desktop #categories {
    width: 200px;
}

.search-filters-mobile #categories {
  width: 100%;
}

.search-filters-desktop #ordering {
    width: 200px;
}

.search-filters-mobile #ordering {
    width: 100%;
}

.product-search-title {
  min-width: 330px;
}
