.benchmark-container {
    text-align: center;
    min-width: 110px;
    max-width: 180px;
    width: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

.benchmark-name {
    font-weight: bold;
    margin: 0;
}

#benchmarks-container {
    width: 100%;
    padding: 0 5px;
}